*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.vid-container{
    height: 100vh;
    width: 100vw;
    
}

video{
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2px;
}

.action-cont{
    height: 12rem;
    width: 5rem;
    /* background-color: lightblue; */
    position: absolute;
    top: calc((100vh - 12rem)/2);
    right: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.action-cont > *{
    height: 5rem;
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-btn{
    height: 3rem;
    width: 3rem;
    background-color: red;
    border-radius: 50%;
}

.capture-btn{
    height: 3rem;
    width: 3rem;
    background-color: white;
    
    border-radius: 50%;
}


.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}

@keyframes scale-record {
    0% {
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 3s;

}

@keyframes scale-capture {
    0% {
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.timer-cont{
    height: 16rem;
    width: 5rem;
    position: absolute;
    bottom: 10rem;
    left: 5rem;
    color: azure;
    font-size: 0.8rem;
}

.timer{
    display: none;
}



.filter-cont{
    height: 16rem;
    width: 5rem;
    background-color: blanchedalmond;
    position: absolute;
    top: calc((100vh - 16rem) / 2);
    left: 5rem;
    z-index: 2;
}

.filter{
    background-image: url("https://res.cloudinary.com/dpencg7d8/image/upload/v1750844233/photo-1545569341-9eb8b30979d9_znmw1c.jpg");
    height: 4rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.filter-layer{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.orange{
    background-color: #d3801391;
}

.black{
    background-color: #3533339e;
}

.pink{
    background-color: #eeabb799;
}


.transparent{
    background-color: transparent;
}








